<!-- MAIN CONTAINER -->
<mcs-container [screen]="SCREENS.MD"
               [fullHeight]="true"
               style="padding-bottom: 24px">

  <!-- HELLO -->
  <mcs-hello [color]="COLORS.BRAND"
             weight="semi-bold"></mcs-hello><!-- HELLO -->


  <!-- DIVIDER -->
  <mcs-divider [color]="COLORS.BRAND"
               [gap]="GAPS.XL"
               [rounded]="true"
               [thickness]="THICKNESS.LG"> {{ 'test' }}</mcs-divider><!-- DIVIDER -->

  <!-- BUTTONS SECTION -->
  <mcs-h3>Buttons</mcs-h3>

  <mcs-flex [gap]="GAPS.MD">

    @for (button of buttons; let i = $index; track i; let odd = $odd) {
      <mcs-button [color]="getValueWithI(colors, i)"
                  [variant]="getValueWithI(variants, i)"
                  [rounded]="i < (buttons.length / 2)"
                  [elevated]="isFirstPart(chips, i) && isInQuarter(chips, i)"
                  [disabled]="isFirstPart(buttons, i) && isInQuarter(buttons, i) && odd"
                  (click)="logMe('mcs button n°' + (i + 1))">
        Mon boutton {{ i }}
        @if (odd) {
          <mcs-icon [name]="icons[i]"
                    [proportionalToTheFont]="true"></mcs-icon>
        }
      </mcs-button>
    }

  </mcs-flex>

  <mcs-divider [gap]="GAPS.LG"></mcs-divider>

  <mcs-h4 [color]="COLORS.INFO">Button groups</mcs-h4>

  <mcs-button-group [variant]="VARIANTS.OUTLINED"
                    [rounded]="true"
                    [elevated]="false"
                    [color]="COLORS.CONTRAST"
                    [disabled]="false">
    <mcs-button (mcsClickOutside)="logMe('Out of First button')"
                [mcsClickOutsideDisabled]="false"
                (click)="logMe('First button')">First</mcs-button>
    <mcs-button>Second</mcs-button>
    <mcs-button>Third</mcs-button>
    <mcs-button [color]="COLORS.ERROR"
                [variant]="VARIANTS.OUTLINED"
                [mcsTooltip]="'Ne pas clicker'"
                [mcsTooltipPosition]="CENTRAL_POSITIONS.RIGHT"
                [mcsTooltipDelay]="0">

      Forth
      <mcs-icon [name]="'close'"
                [proportionalToTheFont]="true"></mcs-icon></mcs-button>
  </mcs-button-group>
  <!-- BUTTONS SECTION -->

  <mcs-divider></mcs-divider>

  <!-- CHIPS SECTIONS -->
  <mcs-h3>Chips</mcs-h3>
  <!-- FLEX CONTAINER -->
  <mcs-flex [gap]="GAPS.MD">

  <!-- CHIPS LOOP -->
    @for (chip of chips; track chip; let i = $index) {
      <mcs-chip [color]="getValueWithI(colors, i)"
                [variant]="getValueWithI(variants, i)"
                [rounded]="i < (chips.length / 2)"
                [isSelectable]="isFirstPart(chips, i)"
                [selected]="isInQuarter(chips, i)"
                [elevated]="isFirstPart(chips, i) && isInQuarter(chips, i)"
                (click)="logMe('mcs chip n°' + (i + 1))">
        {{ chip }}
      </mcs-chip>
    }<!-- CHIPS LOOP -->
  </mcs-flex><!-- FLEX CONTAINER -->
  <!-- CHIPS SECTIONS -->

  <mcs-divider></mcs-divider>

  <!-- TAGS SECTION -->
  <mcs-h3>Tags</mcs-h3>

  <mcs-flex [gap]="GAPS.MD">
    @for (tag of tags; track tag; let i = $index) {
      <mcs-tag class="mcs-pos--relative"
               [color]="getValueWithI(colors, i)"
               [variant]="getValueWithI(variants, i)"
               [rounded]="i < (tags.length / 2)"
               [elevated]="isFirstPart(tags, i) && isInQuarter(tags, i)">
        {{ tag }}
        @if (i === 4) {
          <mcs-badge [rounded]="true"
                     [max]="10"
                     [value]="'16'"></mcs-badge>
        }
      </mcs-tag>
    }
  </mcs-flex>
  <!-- TAGS SECTION -->

  <mcs-divider></mcs-divider>

  <!-- ICONS SECTION -->
  <mcs-h3>Icons</mcs-h3>

  <mcs-flex [gap]="GAPS.MD"
            [justify]="FLEX_JUSTIFY.BETWEEN">

    @for (icon of icons; track icon; let i = $index) {
      <mcs-card [padding]="PADDINGS.MD"
                [style]="{flexGrow: 1}">
        <mcs-flex [direction]="FLEX_DIRECTION.VERTICAL"
                  [align]="FLEX_ALIGN.CENTER"
                  [gap]="GAPS.SM"
                  [mcsTooltip]="icon"
                  [mcsTooltipPosition]="CENTRAL_POSITIONS.BOTTOM"
                  [mcsTooltipDelay]="100">
        <mcs-icon [name]="icon"
                  [color]="getValueWithI(colors, i)"
                  size="md"></mcs-icon>

          <!-- Todo: wrap on text-ellipsis-->
          <div style="min-width: 0; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center">
          {{ icon }}
          </div>
        </mcs-flex>
      </mcs-card>
    }


  </mcs-flex>
  <!-- ICONS SECTION -->

  <mcs-divider></mcs-divider>

  <!-- TITLES SECTION -->
  <mcs-h3>Titles</mcs-h3>

  <mcs-card [fullWidth]="true">
    <mcs-h1 [color]="COLORS.BRAND">Title level 1 color Brand</mcs-h1>
    <p class="mcs-m--zero">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, architecto assumenda cumque dicta distinctio, enim iure minus mollitia, nam nostrum officia qui quis temporibus! Distinctio in iusto praesentium soluta. Quaerat.</p>
    <mcs-h2 [color]="COLORS.CONTRAST">Title level 2 color Contrast</mcs-h2>
    <p class="mcs-m--zero">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, architecto assumenda cumque dicta distinctio, enim iure minus mollitia, nam nostrum officia qui quis temporibus!</p>
    <mcs-h3 [align]="TEXT_ALIGN.CENTER">Title level 3 align center</mcs-h3>
    <p class="mcs-m--zero">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, architecto assumenda cumque dicta distinctio, enim iure minus mollitia, nam nostrum officia qui quis temporibus!</p>
    <mcs-h4 [align]="TEXT_ALIGN.CENTER">Title level 4 align center</mcs-h4>
    <p class="mcs-m--zero">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, architecto assumenda cumque dicta distinctio, enim iure minus mollitia, nam nostrum officia qui quis temporibus!</p>
    <mcs-h5 [align]="TEXT_ALIGN.END">Title level 5 align end</mcs-h5>
    <p class="mcs-m--zero">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <mcs-h6 [align]="TEXT_ALIGN.END">Title level 6 align end</mcs-h6>
    <p class="mcs-m--zero">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  </mcs-card>
  <!-- TITLES SECTION -->

  <mcs-divider></mcs-divider>

  <mcs-h3>Grid</mcs-h3>

  <mcs-grid [cols]="4"
            [gap]="GAPS.XL">
    @for (col of grid; let i = $index; track i) {
      <mcs-grid-item [span]="col">
        <mcs-card [variant]="VARIANTS.TONED"
                  [color]="COLORS.BRAND"
                  [rounded]="false"
                  [fullWidth]="true">
          Item n°{{ i + 1 }}: span {{ col }}
        </mcs-card>
      </mcs-grid-item>
    }
  </mcs-grid>

  <mcs-divider></mcs-divider>

</mcs-container><!-- MAIN CONTAINER -->

